<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL | Request Change</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>DIGITAL MATURITY| Reset Password</h2>
            <form action="/requestPasswordChange" method="POST">
                <div>
                    <i class="fas fa-envelope fa-2x"></i>
                    <input type="email" class="input" id="password_reset"  name="password_reset"
                    placeholder="Enter your email to request a reset">
                </div>
                <br><br>
                <button type="submit" class="btn">RESET</button>
                <div class="links">
                    {% if requestMessage %}
                    <p class="error" style="color: red;">{{ requestMessage }}</p>
                    {% endif %}
                     
                </div>
            </form>

            <div class="links">
                <p> <a href="/login">Login</a></p> 
            </div>


        </div>
    </div>
</body>
</html>
