body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

.item_home {
  font-size: larger;
  color: black;
  text-align: center;
}
.homeImage {
  width: 100%;
  height: auto;
  border: 2px;
  border-radius: 50px;
}
.input {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  background-color: aqua;
}

.submit-btn {
  width: auto;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid black;
  margin: 50px auto 0;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Vertically center the button */
}



/* class for submit buttons which is used on all the submit buttons in the html codes  */
.submit-btn:hover:not([disabled]) {
  background: blue;
  color: orange;
}

.upload-btn {
  width: auto;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/static/images/istockphoto-638671566-2048x2048.jpg");
  background-position: center;
  width: 90%; 
  height: auto; 
  max-width: 1600px; /* Limit the maximum width */
  max-height: 1200px; /* Limit the maximum height */
}


.login-box {
  background: rgba(255, 255, 255, 0.8);
  /* background-image: url("/static/images/tbmtn.jpg"); */
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%; 
  height: 90%; 
  margin-top: 10%;
}
.register-box {
  background: rgba(255, 255, 255, 0.8);
  /* background-image: url("/static/images/tbmtn.jpg"); */
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%; 
  height: 90%; 
  margin-top: 10%;
}



.login-box h2, .register-box h2  {
  margin: 0 0 20px;
  padding: 0;
  color: #333;
}
.register-box h2  {
  margin: 0 0 20px;
  padding: 0;
  color: #333;
}

.textbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%; /* Full width for mobile devices */
}

.textbox i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.textbox input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  outline: none;
  background: #f0f0f0;
  border-radius: 50px; /* Make the border-radius large enough to be semi-circular */
  font-size: 16px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input[type="checkbox"] {
  width: 20px; /* Increase the width */
  height: 20px; /* Increase the height */
  margin-right: 10px; /* Adjust spacing */
}

.remember-me label {
  font-size: 14px;
}

.btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* Make the border-radius large enough to be semi-circular */
}

.btn_change_pws {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* Make the border-radius large enough to be semi-circular */
}

.btn, .btn_change_pws:hover {
  background: #555;
}

.links {
  margin-top: 20px;
}

.links a {
  color: white; /* Change the color to white */
  text-decoration: none;
  font-size: 25px;
}

.links a:hover {
  text-decoration: underline;
}
/* New CSS for the paragraph in links */
.links p {
  color: white; /* Change the text color to white */
  font-size: 25px; /* Increase the font size */
}

/* Media queries for responsiveness */

/* Large screens */
@media (min-width: 1200px) {
  .login-container {
    width: 1600px;
    height: 1000px;
  }

 .register-box {
    width: 800px;
    height: 650px;
    margin-top: 50px; /* Adjust the margin-top for large screens */
  }
  .login-box {
    width: 800px;
    height: 400px;
    margin-top: 50px; /* Adjust the margin-top for large screens */
  }

  .textbox {
    width: 600px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .login-container {
    width: 1200px;
    height: 800px;
  }

  .login-box {
    width: auto;
    height: 900px;
    margin-top: 50px; /* Adjust the margin-top for medium screens */
  }

  .textbox {
    width: 500px;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .login-container {
    width: 50%;
    height: auto;
  }

  .login-box {
    width: 40%;
    height: auto;
    margin-top: 20px; /* Adjust the margin-top for small screens */
  }

  .textbox {
    width: 60%;
  }
}
